#togglePassword,
#togglePassword2,
#togglePassword1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 9999;
  cursor: pointer;
}

/* .tabs-danh-muc{
  display: flex;
  justify-content: space-around;
} */

.tabs-danh-muc {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* khoảng cách giữa các tab */
  flex-wrap: nowrap;
  /* không cho xuống dòng */
  overflow-x: auto;
  /* nếu nhỏ quá thì cuộn ngang */
}

.tabs-danh-muc .nav-item {
  flex: 1;
  /* chia đều độ rộng 3 tab */
  text-align: center;
}

.tabs-danh-muc .nav-link {
  display: block;
  font-weight: 500;
  color: #333;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 10px 16px;
  white-space: nowrap;
  /* tránh ngắt dòng */
}

.tabs-danh-muc .nav-link:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  background-color: #f8f9fa;
}

.tabs-danh-muc .nav-link.active {
  color: #007bff;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
  background-color: #e9ecef;
  border-radius: 5px 5px 0 0;
}

/* Tin tức */
.contact {
  margin-bottom: 20px;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.contact-col {
  flex: 1;
  min-width: 300px;
}

.contact-col h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-col p {
  font-size: 16px;
  line-height: 1.6;
}

.contact .map {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  height: 450px;
  border: 1px solid orange;
}

.contact-col i {
  margin-right: 8px;
  color: #333;
}

/* Footer */
.list-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  margin-bottom: 8px;
  font-size: 14px;
}

.list-footer i {
  font-size: 18px;
  width: 20px;
  /* Cố định chiều rộng để các icon thẳng hàng */
  text-align: center;
  color: #4da6ff;
  /* Hoặc màu bạn đang dùng cho icon */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* lớp mờ đen */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* cao để đè lên nội dung */
}

.notification {
  background-color: white;
  padding: 20px 30px;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
}
.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert {
  border-radius: 0.25rem;
}

.cart-icon-on-scroll.hidden {
  display: none !important;
}

.cart-icon-on-scroll.visible {
  display: inline-block !important;
}
