#togglePassword,
#togglePassword2,
#togglePassword1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 9999;
  cursor: pointer;
}

/* .tabs-danh-muc{
  display: flex;
  justify-content: space-around;
} */

.tabs-danh-muc {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* khoảng cách giữa các tab */
  flex-wrap: nowrap;
  /* không cho xuống dòng */
  overflow-x: auto;
  /* nếu nhỏ quá thì cuộn ngang */
}

.tabs-danh-muc .nav-item {
  flex: 1;
  /* chia đều độ rộng 3 tab */
  text-align: center;
}

.tabs-danh-muc .nav-link {
  display: block;
  font-weight: 500;
  color: #333;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 10px 16px;
  white-space: nowrap;
  /* tránh ngắt dòng */
}

.tabs-danh-muc .nav-link:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  background-color: #f8f9fa;
}

.tabs-danh-muc .nav-link.active {
  color: #007bff;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
  background-color: #e9ecef;
  border-radius: 5px 5px 0 0;
}


.contact .hook h3::after {
    display: none;
}
.contact {
    margin-bottom: 20px;
}

.contact img {
    height: 550px;
}
.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.contact-col {
  flex: 1;
  min-width: 300px;
}

.contact-left,
.contact-right {
  max-width: 48%;
  flex-basis: 48%;
}

.contact-left h2,
.contact-right h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-col p {
  font-size: 16px;
  line-height: 1.6;
}

.contact .map {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%; /* hoặc 600px nếu bạn muốn cố định */
  height: 450px;
  border: 1px solid orange;
}